*.log
vlc/
pulse/
1Password/
BraveSoftware/
chromium/
Code/
go/
google-chrome/
google-chrome-beta/
google-chrome-unstable/
microsoft-edge-dev/
nautilus/
nwg-look/
pulse/
systemd/
vivaldi/
vivaldi-snapshot/
yay/
xsettingsd/
nvim/
Mullvad VPN/
thefuck/