/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
	70% {
		color: #121212;
	}

	to {
		color: #121212;
		background-color: #daa520;
	}
}

@keyframes blink-critical {
	70% {
		color: #e0e0e0;
	}

	to {
		color: #e0e0e0;
		background-color: #ff6f61;
	}
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
}

/* The whole bar */
#waybar {
	background: #121212;
	color: #e0e0e0;
	font-family: JetBrainsMono Nerd Font, sans-serif;
	font-size: 13px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
	padding-left: 10px;
	padding-right: 10px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#battery.warning {
	color: #daa520;
}

#battery.critical {
	color: #ff6f61;
}

#battery.warning.discharging {
	animation-name: blink-warning;
	animation-duration: 3s;
}

#battery.critical.discharging {
	animation-name: blink-critical;
	animation-duration: 2s;
}

#clock {
	font-weight: bold;
}

#cpu {
	/* No styles */
}

#cpu.warning {
	color: #daa520;
}

#cpu.critical {
	color: #ff6f61;
}

#memory {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#memory.warning {
	color: #daa520;
}

#memory.critical {
	color: #ff6f61;
	animation-name: blink-critical;
	animation-duration: 2s;
}

#mode {
	background: #444444;
	border-top: 2px solid #e0e0e0;
	/* To compensate for the top border and still have vertical centering */
	padding-bottom: 2px;
}

#network {
	/* No styles */
}

#network.disconnected {
	color: #daa520;
}

#pulseaudio {
	/* No styles */
}

#pulseaudio.muted {
	/* No styles */
}

#custom-spotify {
	color: #55ff55;
}

#temperature {
	/* No styles */
}

#temperature.critical {
	color: #ff6f61;
}

#tray {
	/* No styles */
}

#window {
	font-weight: bold;
}

#workspaces button {
	/* border-top: 2px solid transparent; */
	/* To compensate for the top border and still have vertical centering */
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	color: #444444;
}

#workspaces button.focused {
	border-color: #256cfa;
	/* border-color: white; */
	color: #e0e0e0;
	background-color: #256cfa;
	/* border-radius: 8px; */
}

#workspaces button.urgent {
	border-color: #ff6f61;
	color: #ff6f61;
}
